<div class="jumbotron">
  <h1>Track Your Prospective Candidates</h1>
<!--   <p class="lead">
    <img class="anything" src="images/getWorkDone.png" alt="Get Work Done"><br>
    The right person, in the right place, at the right time.
  </p>
 -->  <p><a class="btn btn-success" ng-href="#">Get Started!</a></p>
</div>

<div class="container prospects-page">
  <div class="prospect row" ng-repeat="(id, prospect) in prospects">
    <div class="col-xs-1"></div>
    <div class="col-md-9 col-xs-11">
      <div class="info">
        Name: <a href="{{prospect.url}}"> {{prospect.first }} {{prospect.last}}</a>
      </div>
      <div class="info">Stage: {{prospect.stage | titlecase}}</div>
      <div class="pull-right">
  <a class="details btn btn-primary btn-xs" href="#/prospects/{{id}}">Details</a>
  <a class="btn btn-warning btn-xs" ng-click="deleteProspect(id)">Remove</a></li>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>